.content{
    display: flex;
    flex-direction: column;
}

.content-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    margin: 0 auto;
    color: white;
}


.content-card{
    /* border: solid white 8px; */
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px 40px;
}

