.header{
    background-color: white;
    /* border: solid 1px white; */
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px black;
    color: black;
}

.header h1{
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-section{
    display: flex;
    margin-right: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    margin-right: 10px;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: #fffffe;
    padding:0px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}