.footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 4vh auto;
    padding-top: 4vh;
    color: white;
}