.playground{
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
    margin-bottom: 0.5vh;
}

.play-link{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    background-color: white;
    padding: 4px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.solution-link{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    border: white solid;
    border-radius: 0px 0 6px 0px;
    padding: 3px 7px;
}