.app {
    background-color: #6F61C0;
    height: max-content;
    border: #6F61C0 solid 2px;
    margin: 20px 80px;
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}